{% style %}
   .set-upsell {
     display: flex;
     align-items: center;
     justify-content: center;
     background: linear-gradient(90deg, #fac636 29.00%, #ffffff 1.86%);
     max-width: 750px;
     text-align: center;
     padding: 10px 10px;
     margin: 20px auto;
     /*border: dashed;*/
     font-size: 15px;
     position: relative;
     overflow: hidden;
     border: 1px #fac636 solid;
     border-radius: 5px;
     margin: 20px;
   }

   .set-upsell-img {
   	display: contents;
   }

   .set-upsell-text {
     display: inline-block;
     height: auto;
     margin-bottom: 15px;
     margin-top: 15px;
     padding: 0px 10px 0px 10px;
     margin-left:50px;
   }

   .set-upsell-text-p{
   	margin: 15px 0;
   }

   .set-upsell-text-p p{
   	margin: 5px 0;
   }

   .btn-banner{
   	display: inline-flex;
   }

   @media (min-width:581px) and (max-width:991px){
     .set-upsell-text{
     	margin-left:20px;
	 }
     .set-upsell{
     	background: linear-gradient(90deg, #fac636 33%, #ffffff 1.86%);
	 }
   }

   @media only screen and (max-width: 580px) {
     .set-upsell {
     	flex-wrap: wrap;
     	justify-content: center;
     }
   }

   @media only screen and (max-width: 580px) {
     .set-upsell-img {
       width: 40%;
       height: 130px;
     }
     .set-upsell-text{
     	margin-left:0
	 }
   }

   @media only screen and (max-width: 400px) {
       .set-upsell-img {
       width: 100%;
       height: 130px;
       padding: 10px 0;
       display:block;
     }
   }

   @media only screen and (max-width: 580px) {
     .set-upsell {
     	background: linear-gradient(180deg, #fac636 45%, #ffffff 37%);
     }
   }

   .set-upsell-badge {
     color: #fff;
     background: #ba2e2e;
     position: absolute;
     top: 6px;
     right: -24px;
     transform: rotate(45deg);
     padding: 1px 2px;
     font-size: 12px;
     width: 90px;
     font-weight: 600;
     z-index: 1;
   }

{% endstyle %}
<center>
   <div id="set-upsell-wrapper">
      <div class="set-upsell">
         <div class="set-upsell-img">
            <img src="https://cdn.shopify.com/s/files/1/0050/7717/2288/files/Gravity-Sets-4JZSommerPlus-Grau.png?v=1625489726" alt="">
         </div>
         <div class="set-upsell-text">
            <div class="set-upsell-text-p">
               <p style="font-size:18px">
                  Interesse am <b>Gravity Set</b> <br> (4-Jahreszeiten- und Baumwollbezug)?
               </p>
            </div>
            <a href="#gravity_set" class="bttn btn-banner">ZU DEN SETS</a>
         </div>
         <div class="set-upsell-badge">Neu!</div>
      </div>
   </div>
</center>