{% style %}
  @media only screen and (min-width: 400px){
    .bekannt-desktop{
      margin-top: -40px;
      margin-bottom: -40px;
    }
  }
{% endstyle %}


<div class="bekannt-desktop">
<div class="bekannt-images">
<img class="bekannt-img" src="https://cdn.shopify.com/s/files/1/0053/3243/4990/files/Bekannt_aus_Gewichtsdecke_Brigitte_Galileo_Freundin_1.jpg?v=1576853617" alt=""><img class="bekannt-img" src="https://cdn.shopify.com/s/files/1/0053/3243/4990/files/Bekannt_aus_therapiedecke_gewichtsdecke_welt_handelsblatt_2.jpg?v=1576853835" alt="">
</div>
</div>





<style>
.bekannt-images {
    text-align: center;
}

img.bekannt-img {
    width: 40%;
    margin-top: 05px;
    margin-bottom: 0px;
}

@media only screen and (max-width: 400px) {
  img.bekannt-img {
    width: 100%;
    margin-bottom: 0px;
	}
  }

img.bekannt-img-product {
    width: 20%;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-bottom: 20px;
}

.custom-content-wrapper--top-margin {
    padding-top: 0px!important;
}

.custom-content-wrapper--bottom-margin {
    padding-bottom: 0px!important;
}
</style>