<button
  type="button"
  class="carousel__navigation carousel__previous-button hidden"
  aria-label="{{ 'general.accessibility.carousel_previous' | t }}"
>
  {% render 'icon-arrow-forward', non_focusable: true %}
</button>
<button
  type="button"
  class="carousel__navigation carousel__next-button hidden"
  aria-label="{{ 'general.accessibility.carousel_next' | t }}"
>
  {% render 'icon-arrow-forward', non_focusable: true %}
</button>
