<div class="title_area">
  <div class="line_title"></div>
  <div><h3 class="checkout-cert-title">Einige Vorteile im Überblick</h3></div>
  <div class="line_title"></div>
</div>
<div class="point_wrapper">
    <span class="icon-css icon-Checkout-Gewichtsdecke-Testsieger"></span>
  <div>
    <h4 class="h4">Gewichtsdecke Testsieger</h4>
    <p>Die Balance Decke ist zu Recht ein Testsieger, denn es ist das modernste und fortschrittlichste Modell unter den Gewichtsdecken auf dem Markt.</p>
  </div>
</div>
<div class="point_wrapper">
    <span class="icon-css icon-days"></span>
  <div>
    <h4 class="h4">28 Tage Probeschlafen</h4>
    <p>Wir geben Ihnen ausreichend Zeit zum Testen, um das passende Modell und Gewicht Ihrer Therapiedecke zu finden.</p>
  </div>
</div>
<div class="point_wrapper">
    <span class="icon-css icon-EU"></span>
  <div>
    <h4 class="h4">Hergestellt in Europa</h4>
    <p>Dank europäischer Produktion und kurzen Lieferwegen kaufen Sie bei uns nachhaltig und mit gutem Gewissen ein.</p>
  </div>
</div>   