<a href="#" class="collection-sidebar__heading{% if collapse_filter_groups %} closed{% endif %}" data-heading="{{ heading }}">
  <span data-sidebar-title>{{ heading }}</span>
  {% render 'icon-chevron-down' %}
</a>
