<style>
  .gravity-sets-section{
  	background: rgb(68,0,118);
	background: linear-gradient(180deg, rgba(68,0,118,1) 0%, rgba(68,0,179,1) 100%);
  }
  .gravity-sets-text{
  	width: 300px;
    padding-left: 15px;
  }
  .gravity-sets-text p{
  	font-size: 24px;
    color: #fff;
    margin-top: 0;
    margin-bottom: 10px;
    font-weight: 600;
    line-height: 34px;
  }
  .gravity-content-div{
  	max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items:center;
    padding: 20px 0;
  }
  .gravity-sets-section .bttn{
  	display: inline-block;
    line-height: 48px;
    background: #d9be57;
    transition: background-color .25s ease;
  }
  .gravity-sets-section .bttn:hover{
  	background: #fff;
    color: var(--color-button-hover-bg);
  }
  .mobile-set{
  	display: none;
  }
  @media (max-width: 1200px){
  	.gravity-sets-text{
    	padding-left: 0;
    }
  }
  @media (min-width: 769px) and (max-width: 1200px){
    .gravity-sets-text p{
    	font-size: 18px;
    }
  }
  @media (max-width: 768px){
  	.desktop-set{
    	display: none;
    }
    .mobile-set{
    	display: block;
        margin: 0 auto;
    }
    .gravity-content-div{
    	padding: 30px 0;
    }
  }
  @media (min-width: 641px) and (max-width: 768px){
    .gravity-content-div{
    	display: grid;
        grid-template-columns: 1fr 1fr;
    }
  }
  @media (max-width: 640px){
    .gravity-content-div{
    	display: block;
    }
    .gravity-sets-text{
    	text-align:center;
      	margin: 0 auto;
    }
  }
</style>
<div class="gravity-sets-section">
  <div class="gravity-content-div">
    <div class="gravity-sets-image">
      <img src="https://cdn.shopify.com/s/files/1/0327/7196/5066/files/Sets_desktop.png?v=1656417483" class="desktop-set">
      <img src="https://cdn.shopify.com/s/files/1/0327/7196/5066/files/Sets_mobile.png?v=1656417483" class="mobile-set">
    </div>
    <div class="gravity-sets-text">
      <p>Haben Sie Interesse <br>am Balance<br>Gewichtsdecken Set?</p>
      <a href="https://gravitydecke.de/collections/sparsets/products/gravity-gewichtsdecken-set-fur-erwachsene" class="bttn btn-banner">JETZT TESTEN</a>
    </div>
  </div>
</div>