<style>
  .gravity-sets-section{
  	background: rgb(68,0,118);
	background: linear-gradient(180deg, rgba(68,0,118,1) 0%, rgba(68,0,179,1) 100%);
  }
  .gravity-sets-text{
  	width: 300px;
    padding-left: 15px;
  }

  .gravity-content-div{
  	max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items:center;
    padding: 40px 0;
  }
  .gravity-sets-image{
    display: flex;
	justify-content: center;
  }
  .gravity-sets-section .bttn{
    background: #d9be57;
  }
  /*.gravity-sets-section .bttn:hover{
  	background: #fff;
    color: var(--color-button-hover-bg);
  }*/
  .mobile-set{
  	display: none;
  }
  .desktop-set{
    max-width: 550px;
  }
  @media (max-width: 1200px){
  	.gravity-sets-text{
    	padding-left: 0;
    }
  }
  @media (max-width: 768px){
  	.desktop-set{
    	display: none;
    }
    .mobile-set{
    	display: block;
        margin: 0 auto;
    }
    .gravity-content-div{
    	padding: 30px 0;
    }
  }
  @media (max-width: 640px){
    .gravity-content-div{
    	display: block;
    }
    .gravity-sets-text{
    	text-align:center;
      	margin: 0 auto;
    }
  }
</style>
<div class="gravity-sets-section">
  <div class="gravity-content-div">
    <div class="gravity-sets-image">
      <img src="https://cdn.shopify.com/s/files/1/0327/7196/5066/files/Sets_desktop.png?v=1656417483" class="desktop-set">
      <img src="https://cdn.shopify.com/s/files/1/0327/7196/5066/files/Sets_mobile.png?v=1656417483" class="mobile-set">
    </div>
    <div class="gravity-sets-content">
      <h2 class="gravity-sets-text type-heading-1">Haben Sie Interesse <br>am Balance<br>Gewichtsdecken Set?</h2>
      <a href="https://gravitydecke.de/collections/sparsets/products/gravity-gewichtsdecken-set-fur-erwachsene" class="bttn bttn--inline">JETZT TESTEN</a>
    </div>
  </div>
</div>