{% style %}
@media only screen and (max-width: 600px){
.gutBesserBalance{
display: none;}
}
@media only screen and (min-width: 601px){
.gutBesserBalance_mobile{
display: none;}
}
{% endstyle %}
<span style="display:none">GUT.BESSER.BALANCE</span>
<img class="gutBesserBalance" width="100%" src="https://cdn.shopify.com/s/files/1/0327/7196/5066/files/Gut.Besser.Balance.svg?v=1657711526" alt="Gut Besser Balance">

<img class="gutBesserBalance_mobile" width="60%" src="https://cdn.shopify.com/s/files/1/0327/7196/5066/files/Gut.Besser.Balance_mobile.svg?v=1657711934" alt="Gut Besser Balance">