<svg xmlns="http://www.w3.org/2000/svg" width="61" height="61" viewBox="0 0 61 61">
  <title>3d-icon-button-control</title>
  <rect class="bg" x="0.5" y="0.5" width="60" height="60" stroke-miterlimit="10"/>
  <path d="M40.9,23.07l-8.8-5.14a3.19,3.19,0,0,0-3.21,0l-8.8,5.14a3.24,3.24,0,0,0-1.59,2.79V36.14a3.23,3.23,0,0,0,1.6,2.79l8.8,5.14a3.2,3.2,0,0,0,3.21,0l8.8-5.14a3.23,3.23,0,0,0,1.59-2.79V25.86A3.24,3.24,0,0,0,40.9,23.07ZM21.1,37.2a1.23,1.23,0,0,1-.6-1.06V25.86a1.23,1.23,0,0,1,.6-1.06l8.8-5.14a1.19,1.19,0,0,1,1.19,0l8.8,5.14a1.2,1.2,0,0,1,.36.34L30.74,30a2.23,2.23,0,0,0-1.25,2V42.1Z" fill="currentColor"/>
</svg>
