{% if option.name == 'Gewicht' or option.name == 'Was entspricht ungefähr 10% Ihres Körpergewichts?' %}
  <div class="static-info">
    <span class="static-info_icon icon-info"></span> Das Deckengewicht sollte ungefähr 10% des Körpergewichtes ausmachen.
  </div>
{% endif %}