{% if product.media.size > 1 %}
  <div class="product-thumbnails">
    <ul class="product-thumbnails__list" data-product-thumbnails>
      {% for media in product.media %}
        <li class="product-thumbnails__item">
          <button
          test="{{ disable_style }}"
            type="button"
            class="product-thumbnails__item-link{% if media.id == featured_media.id %} active{% endif %}"
            data-thumbnail-id="{{ media.id }}"
            data-product-thumbnail
            aria-label="{{ 'general.accessibility.image_thumbail' | t: number: forloop.index }}"
          >
            {%- assign id = media.id | append: '--thumb' -%}

            {% render 'image' with
              image: media.preview_image,
              id: id
              wrapper_class: 'product-thumbnails__item-image',
              disable_style: disable_style
            %}

            {% case media.media_type %}
              {% when 'video' %}
                <div class="product-thumbnails__item-badge">
                  {% render 'icon-play' %}
                </div>
                {% when 'external_video' %}
                <div class="product-thumbnails__item-badge">
                  {% render 'icon-play' %}
                </div>
                {% when 'model' %}
                <div class="product-thumbnails__item-badge">
                  {% render 'icon-3d' %}
                </div>
            {% endcase %}
          </button>
        </li>
      {% endfor %}
    </ul>
  </div>
{% endif %}