<div class="quick-add" data-quick-add-modal>
  <div class="quick-add__inner">
    <button type="button" class="quick-add__close" data-quick-add-close aria-label="{{ 'general.accessibility.close_modal' | t }}">
      {% render 'icon-close' %}
    </button>
    <div class="quick-add__content">
    </div>
    <div class="quick-add__loading">
      {% render 'loader' %}
    </div>
  </div>

  <div class="quick-add__wash"></div>
</div>