{% style %}
  .reviews-info-wrapper{
	max-width: 1200px;
	margin: auto;
	text-align: center;
	font-size: 24px;
  }
  .reviews-info-testimonial{
	max-width: 600px;
	margin: 10px auto;
  	font-style: italic;
  }
  .reviews-info-icon{
	font-size: 11px;
  }
  .reviews-info-about{
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 0px;
  }
  .reviews-info-stars{
	font-size: 18px;
	margin-top: 5px;
  }
  @media(max-width: 640px) {
    .reviews-info-wrapper{
      font-size: 20px;
  	}
  }
{% endstyle %}
<br>

<div class="reviews-info-wrapper">
  
  <h2 class="reviews-info-about">Über 3.500+ positive Bewertungen</h2>
  <p class="reviews-info-testimonial">
    <span class="icon-quote-start reviews-info-icon" ></span>
    Die Gravitydecke ist eine Wunderwaffe gegen Angst, Schlafstörungen und Stress
    <span class="icon-quote-end reviews-info-icon"></span>
  </p>
  <div>
    <p class="reviews-info-stars">
      <font size="5" color="#fac636">
        <span class="icon-star-full"></span><span class="icon-star-full"></span><span class="icon-star-full"></span><span class="icon-star-full"></span><span class="icon-star-half"></span></font><font size="4"> - 4.8/5.0</font>
    </p>
  </div>
  
</div>
<br>