{% style %}

{% endstyle %}

{% assign currentVariant = product.selected_or_first_available_variant %}

{% if option.name == 'Bezugsart' %}
  {% for variant in product.variants %}
	{% if variant.id == currentVariant.id %}
	  <div class="swatch-option" id="swatch-option-{{ variant.id }}"><span class="icon-info"></span>
  	{% else %}
      <div class="swatch-option hide" id="swatch-option-{{ variant.id }}"><span class="icon-info"></span>
        {% endif %}
        {% assign coverType = variant.metafields.bgd['cover-type'] %}
        {{ coverType }}
      </div>
  {% endfor %}
{% endif %}
        
