<div style="background-color:{{ section.settings.main_bg_color }}">
  <div class="{% if section.settings.paddings %}section{% endif %} section--bordered">
      {{ section.settings.custom_liquid }}
  </div>
</div>

{% schema %}
{
  "name": "t:sections.custom_liquid.name",
  "tag": "section",
  "class": "section-dynamic section-borderable",
  "settings": [
    {
      "type": "checkbox",
      "id": "paddings",
      "label": "Add spacing",
	  "default": false
    },
    {
      "type": "color",
      "id": "main_bg_color",
      "label": "Main background color",
	  "default": "#fff"
    },
    {
      "type": "liquid",
      "id": "custom_liquid",
      "label": "t:sections.custom_liquid.settings.custom_liquid.label"
    }
  ],
  "presets": [
    {
      "name": "t:sections.custom_liquid.presets.name"
    }
  ]
}
{% endschema %}
