{{ 'image-text-slider.css' | asset_url | stylesheet_tag }}

<div class="image-text-slider-main-div image-text-slider-mobile">
  <p class="overline">Die Wirkung der Gravity Gewichtsdecke</p>
  <h2 class="type-heading-1">Die Vorteile im Überblick</h2>
  <div class="owl-carousel owl-theme">
      <div class="item image-text-slider-item">
          <div class="image-text-slider-block">
            <div>
              <img class="image-text-slider__img lazyload" style="height:250px"
                   src="https://cdn.shopify.com/s/files/1/0050/7717/2288/files/better_sleep.jpg?v=1652452558"
                   data-src="https://cdn.shopify.com/s/files/1/0050/7717/2288/files/better_sleep.jpg?v=1652452558">
            </div>
            <div class="image-text-slider-text-content">
              <h3 class="type-heading-2">Fördert besseren Schlaf</h3>
              <p>Das Gewicht wirkt sich positiv auf den Schlaf aus, indem Tiefschlafphasen schneller erreicht werden können. Bei angemessenem Gewicht wird die Ausschüttung des Glückshormons Serotonin und des Schlafhormons Melatonin gefördert und gleichzeitig der Cortisolspiegel (sog. Stresshormon) gesenkt. Das Ergebnis ist ein euphorisches Gefühl der völligen Entspannung des Körpers und des Nervensystems.</p>
            </div>
          </div>
      </div>
      <div class="item image-text-slider-item">
    	  <div class="image-text-slider-block">
            <div>
              <img class="image-text-slider__img lazyload" style="height:250px"
                   src="https://cdn.shopify.com/s/files/1/0050/7717/2288/files/stress.jpg?v=1652452558"
                   data-src="https://cdn.shopify.com/s/files/1/0050/7717/2288/files/stress.jpg?v=1652452558">
            </div>
            <div class="image-text-slider-text-content">
            	<h3 class="type-heading-2">Die Lösung für Stress</h3>
            	<p>Stress ist heutzutage ein häufig auftretendes Phänomen, das vor allem durch die Anforderungen im Beruf und die permanente Abrufbarkeit hervorgerufen wird. Findet kein Stressausgleich oder -abbau statt, kann es sich zu dauerhaften Zuständen mit z.B. Verspannungen und Ängsten entwickeln. Das Einsetzen einer Gewichtsdecke kann dabei helfen, den Körper schneller herunterzufahren und in den Ruhemodus zu befördern.</p>
            </div>
          </div>
      </div>
      <div class="item image-text-slider-item">
          <div class="image-text-slider-block">
            <div>
              <img class="image-text-slider__img lazyload" style="height:250px"
                   src="https://cdn.shopify.com/s/files/1/0050/7717/2288/files/wellbeing.jpg?v=1652452558"
                   data-src="https://cdn.shopify.com/s/files/1/0050/7717/2288/files/wellbeing.jpg?v=1652452558">
            </div>
            <div class="image-text-slider-text-content">
            	<h3 class="type-heading-2">Steigerung des Wohlbefindens</h3>
            	<p>Gewichtsdecken bewirken mit dem gefüllten Gewicht eine Schwere, die sich beim Auflegen auf den Körper durch Entspannung bemerkbar macht. Der Tiefendruck, der dabei entsteht, vermittelt dem Gehirn das gleiche Signal, das bei einer liebevollen Umarmung entsteht. Der Einsatz der Gewichtsdecke ist nach einem erfolgreichen Tag eine Genugtuung für Körper und Seele.</p>
            </div>
          </div>
      </div>
      <div class="item image-text-slider-item">
          <div class="image-text-slider-block">
            <div>
              <img class="image-text-slider__img lazyload" style="height:250px"
                   src="https://cdn.shopify.com/s/files/1/0050/7717/2288/files/anxiety.jpg?v=1652452558"
                   data-src="https://cdn.shopify.com/s/files/1/0050/7717/2288/files/anxiety.jpg?v=1652452558">
            </div>
            <div class="image-text-slider-text-content">
            	<h3 class="type-heading-2">Reduzierung von Angst und Panik</h3>
            	<p>Mit einer gewichteten Decke besteht die Möglichkeit, Angst- und Panikzustände zu reduzieren. Dem Problem, dass Betroffene bei solchen Zuständen keine klaren Gedanken mehr fassen, sich sogar nicht mehr existent fühlen können, kann mit einer Gewichtsdecke entgegengewirkt werden. Ein angemessenes Gewicht kann den Körper spürbar machen, die Wahrnehmung intensivieren und das Gefühl, im Hier und Jetzt zu sein steigern.</p>
            </div>
          </div>
      </div>
  </div>
</div>

<div class="image-text-slider-main-div image-text-slider-desktop">
  <div class="image-text-slider-main-content-wrapper">
    <p class="overline">Die Wirkung der Gravity Gewichtsdecke</p>
    <h2 class="type-heading-1">Die Vorteile im Überblick</h2>
    <div class="image-text-slider-content-wrapper">
      <div class="image-text-slider-block">
        <div>
          <img class="image-text-slider__img lazyload" style="height:250px"
               src="https://cdn.shopify.com/s/files/1/0050/7717/2288/files/better_sleep.jpg?v=1652452558"
               data-src="https://cdn.shopify.com/s/files/1/0050/7717/2288/files/better_sleep.jpg?v=1652452558">
        </div>
        <div class="image-text-slider-text-content">
          <h3 class="type-heading-2">Fördert besseren Schlaf</h3>
          <p>Das Gewicht wirkt sich positiv auf den Schlaf aus, indem Tiefschlafphasen schneller erreicht werden können. Bei angemessenem Gewicht wird die Ausschüttung des Glückshormons Serotonin und des Schlafhormons Melatonin gefördert und gleichzeitig der Cortisolspiegel (sog. Stresshormon) gesenkt. Das Ergebnis ist ein euphorisches Gefühl der völligen Entspannung des Körpers und des Nervensystems.</p>
        </div>
      </div>
      <div class="image-text-slider-block">
        <div>
          <img class="image-text-slider__img lazyload" style="height:250px"
               src="https://cdn.shopify.com/s/files/1/0050/7717/2288/files/stress.jpg?v=1652452558"
               data-src="https://cdn.shopify.com/s/files/1/0050/7717/2288/files/stress.jpg?v=1652452558">
        </div>
        <div class="image-text-slider-text-content">
          <h3 class="type-heading-2">Die Lösung für Stress</h3>
          <p>Stress ist heutzutage ein häufig auftretendes Phänomen, das vor allem durch die Anforderungen im Beruf und die permanente Abrufbarkeit hervorgerufen wird. Findet kein Stressausgleich oder -abbau statt, kann es sich zu dauerhaften Zuständen mit z.B. Verspannungen und Ängsten entwickeln. Das Einsetzen einer Gewichtsdecke kann dabei helfen, den Körper schneller herunterzufahren und in den Ruhemodus zu befördern.</p>
        </div>
      </div>

      <div class="image-text-slider-block">
        <div>
          <img class="image-text-slider__img lazyload" style="height:250px"
               src="https://cdn.shopify.com/s/files/1/0050/7717/2288/files/wellbeing.jpg?v=1652452558"
               data-src="https://cdn.shopify.com/s/files/1/0050/7717/2288/files/wellbeing.jpg?v=1652452558">
        </div>
        <div class="image-text-slider-text-content">
          <h3 class="type-heading-2">Steigerung des Wohlbefindens</h3>
          <p>Gewichtsdecken bewirken mit dem gefüllten Gewicht eine Schwere, die sich beim Auflegen auf den Körper durch Entspannung bemerkbar macht. Der Tiefendruck, der dabei entsteht, vermittelt dem Gehirn das gleiche Signal, das bei einer liebevollen Umarmung entsteht. Der Einsatz der Gewichtsdecke ist nach einem erfolgreichen Tag eine Genugtuung für Körper und Seele.</p>
        </div>
      </div>


      <div class="image-text-slider-block">
        <div>
          <img class="image-text-slider__img lazyload" style="height:250px"
               src="https://cdn.shopify.com/s/files/1/0050/7717/2288/files/anxiety.jpg?v=1652452558"
               data-src="https://cdn.shopify.com/s/files/1/0050/7717/2288/files/anxiety.jpg?v=1652452558">
        </div>
        <div class="image-text-slider-text-content">
          <h3 class="type-heading-2">Reduzierung von Angst und Panik</h3>
          <p>Mit einer gewichteten Decke besteht die Möglichkeit, Angst- und Panikzustände zu reduzieren. Dem Problem, dass Betroffene bei solchen Zuständen keine klaren Gedanken mehr fassen, sich sogar nicht mehr existent fühlen können, kann mit einer Gewichtsdecke entgegengewirkt werden. Ein angemessenes Gewicht kann den Körper spürbar machen, die Wahrnehmung intensivieren und das Gefühl, im Hier und Jetzt zu sein steigern.</p>
        </div>
      </div>

    </div>
  </div>
</div>

<script>
$('.image-text-slider-main-div .owl-carousel').owlCarousel({
    loop:true,
    margin:10,
    dots:true,
    responsive:{
        0:{
            items:1
        },
        600:{
            items:1
        },
      	768:{
          	items: 2
      	}
    }
})
</script>


{% schema %}
  {
    "name": "Image text slider",
    "settings": [],
	"presets": [
	  {
		"name": "Image text slider"
	  }
	]
  }
{% endschema %}

{% javascript %}


{% endjavascript %}
