<section class="fof">
  <h1 class="fof__heading type-heading-1">{{ 'general.404.title' | t }}</h1>
  <div class="fof__message type-body-large rte measure-wide">
    {{ 'general.404.subtext_html' | t }}
  </div>
</section>